{% load static %}
<html>
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'player/css/45.css' %}">
		<title> {{ title }} </title>
	</head>
	
	<body>
		
		<div id="wrapper">

			<header>
				{% block mainmenu %}

				<ul>
					<div id="first-menu">
					<li class="logo"><a href="{% url 'home' %}"> <img src="{% static 'player/images/logo.jpg' %}"> </a></li>

						{% if request.user.is_authenticated %}
							<li class="li_header_first_menu header-link"><a href="{% url 'add_page' %}"> Добавить статью </a></li>
						{% else %}
							<li class="li_header_first_menu header-link"><a href="{% url 'login' %}"> Добавить статью </a></li>
						{% endif %}

					<li class="li_header_first_menu header-link"><a href="{% url 'contact' %}"> Обратная связь </a></li>
					<li class="li_header_first_menu header-link"><a href="{% url 'about' %}"> О сайте </a></li>

					</div>

					<div id="last-menu">
					{% if request.user.is_authenticated %}
					<li class="li_header_last_menu">{{ user.username }}</li>
					<li class="login-link"><a class="login" href="{% url 'logout' %}"> Выйти </a></li>
					{% else %}
					<li class="li_header_last_menu header-link"><a href="{% url 'register' %}"> Регистрация </a></li>
					<li class="login-link"><a class="login" href="{% url 'login' %}"> Войти </a></li>
					{% endif %}
					</div>

					<div class="clearfix"></div>
				</ul>

				<div class="clearfix"></div>
				<img class="main-image" src="{% static 'player/images/main-image.jpg' %}">
				{% endblock %}
			</header>


			<main>
				{% block content %}
				{% endblock %}

				{% block pagination %}
				{% if page_obj.has_other_pages %}
				<nav class="list-pages">
					<ul>

						{% if page_obj.has_previous %}
							<li class="page-num">
								<a href="?page={{ page_obj.previous_page_number }}">&lt</a>
							</li>
						{% endif %}

						{% for p in paginator.page_range %}
							{% if page_obj.number == p %}
								<li class="page-num page-num-selected">
									{{ p }}
								</li>
							{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
								<li class="page-num">
									<a href="?page={{p}}"> {{ p }}</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
							<li class="page-num">
								<a href="?page={{ page_obj.next_page_number }}">&gt</a>
							</li>
						{% endif %}

					</ul>
				</nav>
				{% endif %}
				{% endblock %}

			</main>

			{% block aside %}
			<aside>
				<div>
				<ul>
					{% if cat_selected == 0 %}
						<li class="current_cat"> Все категории </li><hr>
					{% else %}
						<li><a href="{% url 'home' %}"> Все категории </a></li><hr>
					{% endif %}

					{% for c in cats %}
					{% if c.player__count > 0 %}
						{% if c.pk == cat_selected %}
							<li class="current_cat"> {{ c.name }} </li><hr>
						{% else %}
							<li><a href="{{ c.get_absolute_url }}"> {{ c.name }} </a></li><hr>
						{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
				</div>
			</aside>
			{% endblock %}

			<div class="clearfix"></div>

			<footer>
				<div>
				© 2022 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.
				</div>
			</footer>
					
		</div>
	</body>
	
</html>