{% load static %}
<html>
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'player/css/45.css' %}">
		<title> {{ title }} </title>
	</head>
	
	<body>
		<div id="underwrapper">
			<h1>down the stream</h1>
			<p>template designed by webtemplateocean.com</p>
		</div>
		
		<div id="wrapper">

			<header>
				{% block mainmenu %}

				<ul>
					{% for m in menu %}
					<li><a href="{% url m.url_name%}"> {{ m.title }} </a></li>
					{% endfor %}
					<div class="clearfix"></div>
				</ul>

				<div class="clearfix"></div>
				<img src="{% static 'player/images/45_1.jpg' %}">
				{% endblock %}
			</header>


			<main>
				{% block content %}
				{% endblock %}
			</main>
			
			<aside>
				<div>
				<ul>
					{% if cat_selected == 0 %}
						<li> Все категории </li><hr>
					{% else %}
						<li><a href="{% url 'home' %}"> Все категории </a></li><hr>
					{% endif %}

					{% for c in cats %}
						{% if c.pk == cat_selected %}
							<li> {{ c.name }} </li><hr>
						{% else %}
							<li><a href="{{ c.get_absolute_url }}"> {{ c.name }} </a></li><hr>
						{% endif %}
					{% endfor %}
<!--					<li><a href="#">Saepe repellendus, veniam!</a></li><hr>-->
<!--					<li><a href="#">Repellendus laborum, sequi.</a></li><hr>-->
<!--					<li><a href="#">Inventore laudantium, eos!</a></li><hr>-->
<!--					<li><a href="#">Voluptate, ea, quaerat.</a></li><hr>-->
				</ul>
				</div>
			</aside>
			<div class="clearfix"></div>

			<footer>
				<div><a href="#">
				Copyright © 2012, designed by WebTemplateOcean.com</a>
				</div>
			</footer>
					
		</div>
	</body>
	
</html>