{% load static %}
<html>
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'player/css/45.css' %}">
		<title> {{ title }} </title>
	</head>
	
	<body>
		<div id="underwrapper">
			<h1>down the stream</h1>
			<p>template designed by webtemplateocean.com</p>
		</div>
		
		<div id="wrapper">

			<header>
				{% block mainmenu %}

				<ul>
					{% for m in menu %}
					<li><a href="{% url m.url_name%}"> {{ m.title }} </a></li>
					{% endfor %}
					<li><a href="{% url 'register' %}"> Регистрация </a></li>
					<li><a href="{% url 'login' %}"> Войти </a></li>

					<div class="clearfix"></div>
				</ul>

				<div class="clearfix"></div>
				<img src="{% static 'player/images/45_1.jpg' %}">
				{% endblock %}
			</header>


			<main>
				{% block content %}
				{% endblock %}

				{% if page_obj.has_other_pages %}
				<nav class="list-pages">
					<ul>

						{% if page_obj.has_previous %}
							<li class="page-num">
								<a href="?page={{ page_obj.previous_page_number }}">&lt</a>
							</li>
						{% endif %}

						{% for p in paginator.page_range %}
							{% if page_obj.number == p %}
								<li class="page-num page-num-selected">
									{{ p }}
								</li>
							{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
								<li class="page-num">
									<a href="?page={{p}}"> {{ p }}</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
							<li class="page-num">
								<a href="?page={{ page_obj.next_page_number }}">&gt</a>
							</li>
						{% endif %}

					</ul>
				</nav>
				{% endif %}

			</main>
			
			<aside>
				<div>
				<ul>
					{% if cat_selected == 0 %}
						<li> Все категории </li><hr>
					{% else %}
						<li><a href="{% url 'home' %}"> Все категории </a></li><hr>
					{% endif %}

					{% for c in cats %}
					{% if c.player__count > 0 %}
						{% if c.pk == cat_selected %}
							<li> {{ c.name }} </li><hr>
						{% else %}
							<li><a href="{{ c.get_absolute_url }}"> {{ c.name }} </a></li><hr>
						{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
				</div>
			</aside>

			<div class="clearfix"></div>

			<footer>
				<div><a href="#">
				Copyright © 2012, designed by WebTemplateOcean.com</a>
				</div>
			</footer>
					
		</div>
	</body>
	
</html>